footer{
    background-color: #FFFF;
}
.footer__menu{
    height: 105px;
    
}

.footer__lisence{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}
.footer__title{
    color: #9b9b9b;
} 

.tel-ico{
    fill: #9b9b9b;
}

.footer__link{
    font-weight: 400;
    color: #9b9b9b;
    &:hover,
    &:focus {
    color: #ee9f9f;
    }
}