.header {
    background-color:#FFF;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.nav__list{
    display: flex;
    gap: 40px;
}

.nav__title{
    list-style: none;
}
.head__contact{
    display: flex;
    gap: 40px;
}