<footer>
    <div class="container footer__menu">
        <div class="logo">
            <div><a href="/src/index.html"><img src="/src/img/logo_mob.png" alt="Logo" width="58" height="58"></a>
            </div>

        </div>
        <div class="head__contact">
            <a href="tel:+380976043469"><svg class="tel-ico" width="51" height="51" aria-label="FoodSta">
                    <use href="/src/img/icons.svg#icon-telephone"></use>
                </svg></a>
            <a href="https://www.facebook.com/"><svg class="tel-ico" width="51" height="51" aria-label="FoodSta">
                    <use href="/src/img/icons.svg#icon-facebook"></use>
                </svg></a>
            <a href="https://www.instagram.com/" target="_blank"><svg width="71" height="51" aria-label="FoodSta">
                    <use href="/src/img/icons.svg#icon-instagram_f"></use>
                </svg></a>
            <a href="https://t.me/sitetyt"><svg class="tel-ico" width="51" height="51" aria-label="FoodSta">
                    <use href="/src/img/icons.svg#icon-telegram"></use>
                </svg></a>
        </div>
        <nav>
            <ul class="nav__list">
                <li class="nav__title"><a href="" class="footer__link">Главная</a></li>
                <li class="nav__title"><a href="" class="footer__link">Услуги</a></li>
                <li class="nav__title"><a href="" class="footer__link">Контакты</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer__lisence">
        <p class="footer__title">© 2022 All Rights Reserved. Design by <a href="https://github.com/Lusiy321">Lusiy</a>
        </p>
    </div>

</footer>