<header class="header">
    <div class="container">
        <div class="logo">
            <div><a href="/src/index.html"><img src="/src/img/logo.png" alt="Logo" width="196" height="58"></a></div>

        </div>
        <div class="head__contact">
            <a href="tel:+">45465464645454</a>
            <a href="mailto:">sdasdasds@mail.com</a>
        </div>
        <nav>
            <ul class="nav__list">
                <li class="nav__title"><a href="">home</a></li>
                <li class="nav__title"><a href="">service</a></li>
                <li class="nav__title"><a href="">about</a></li>
                <li class="nav__title"><a href="">contacts</a></li>
            </ul>
        </nav>
    </div>
</header>