body{
    color: #151515;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1280px;
}

a{
    color: #151515;
    text-decoration: none;
}